html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

p,h1,h2,h3,h4,h5,h6 {
  margin: 0;
}

a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
  object-fit: cover;
}

body {
  min-width: 320px;
  word-break: normal;
  font-family: 'Roboto-Regular', sans-serif;
}

/* global------------------------------------------------------------ */

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
  opacity: 0;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  height: 535px;
  display: flex;
}

.display {
  display: none;
  color: #fff;
}

/* var.--------------------------------------------------------------- */

:root {  /* colors */
  --color-white: red;
}

:root {  /* colors */
  --font-size-18px: 18px;
}

.section  {
  color: var(--color-white);
  font-size: var(--font-size-18px);
}

header{ 
  height: 80px; 
  border-bottom: solid 1px #EFEFEF; 
border-width: 100%; 
} 
.First-header{ 
height: 80px; 
max-width: 1440px; 
margin: auto; 
} 

/* MAIN */


/* header */

.First-header-container{ 
  max-width: 1140px; 
  height:80px; 
  display: grid; 
  margin: auto; 
  grid-template-columns: repeat(12, 1fr); 
  gap: 30px; 
  justify-content: center; 
} 
.logo{
  display: flex;
  align-items: center;
}

.logo__pic{
padding-left: 100px;
}  

.First-header-container div:nth-child(1) { 
  grid-column: 1 / span 2; 
} 

.First-header-container div:nth-child(2){ 
  grid-column: 3 / span 6; 
} 

.First-header-container div:nth-child(3){ 
  grid-column: 9 / span 4; 
} 
 
.nav-links{ 
  display: flex;  
} 

ul{ 
  column-gap: 35px ; 
  padding: 0; 
} 

li{ 
  list-style-type: none; 
  font-family: Roboto-Regular; 
  font-size: 16px; 
   
} 

li:hover{ 
  text-decoration: underline; 
  color: #C41429; 
  cursor: pointer; 
} 
 
.other{ 
  display: flex; 
  justify-content: left; 
  align-items: center; 
  column-gap: 20px; 
   
} 

.cart:hover, .number:hover{ 
  cursor: pointer; 
} 
 
.num{ 
  font-family: Roboto-Medium; 
  font-size: 20px;
  margin-left: 7px; 
}

.cart{
  display: flex;
  flex-grow: 1;
  justify-content: right;
  align-items: center;
  padding-right: 7%;
  margin-left: 20px; 
  margin-right: 9px; 
}

/* swiper */

.main{
  max-width: 1140px;
  margin:auto;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap:30px;
  
}

.main div:nth-child(1) {
  grid-column: 1 / span 4;
}

.main div:nth-child(2) {
  grid-column: 7 / span 6;
}

.text{
  height: 173px;
  margin-top: 120px;
}

.text h2{
  font-family: Roboto-Bold;
  font-size: 48px;
  color: #222222;
}

.text p{
  font-family: Roboto-Regular !important;
  font-size: 20px !important;
}

.text-button{
  font-family: Roboto-Regular;
  font-size: 18px;
  width: 220px;
  height: 48px;
  background-color: white;
  border: solid 1px black;
  margin-top: 36px;
  cursor: pointer;
}

.swiper-pagination{
  
  width: 76px !important;
  height: 20px !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  top:455px !important;
  left:20%!important;
  column-gap: 18px;
  
}

.swiper-container{
 position: relative !important;
 width: 100% !important;
 height: 535px !important;
 display: flex !important;
}

.swiper-pagination-bullet-active {
 background: #C41429  !important;
 width: 20px !important;
 height: 20px !important;
}

.swiper-pagination-bullet{
  border-radius: 0px !important;
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
 margin: 0 var(--swiper-pagination-bullet-horizontal-gap, ); 
}

/*   photos */
  
.catalog{
  width: 100%;
  height: 714px;
  background-color: #F4F4F4;
}

.catalog-list{
  max-width: 1140px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto auto;
  column-gap: 30px;
  row-gap: 30px;
  padding: 80px 0;
  margin-inline: auto;
}

.catalog-list div:nth-child(1){
  grid-column: 1 / span 3;
  grid-row: span 2;
}

.catalog-list div:nth-child(2){
  grid-column: 4 / span 3;
}

.catalog-list div:nth-child(3){
  grid-column: 7 / span 3;
}

.catalog-list div:nth-child(4){
  grid-column: 10 / span 3;
}

.catalog-list div:nth-child(5){
  grid-column: 4 / span 5;
}

.catalog-list div:nth-child(6){
  grid-column: 9 / span 4;
  background-color: #FFFFFF;
}

.catalog-list div:nth-child(6) p{
  position: absolute;
  width: 168px;
  height: 52px;
  font-family: "Roboto-Regular", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  top: 175px;
  left: 103px;
}

.catalog-list div:nth-child(6) img{
  position: absolute;
  top: 187px;
  left: 297px;

}

.catalog-list-item{
  position: relative;
}

.catalog-list-item-title{
  font-family: "Roboto-Bold", sans-serif;
  font-weight: 700;
  font-size: 32px;
  color: #FFFFFF;
  text-transform: uppercase;
  position: absolute;
  top: 30px;
  left: 30px;
}

/* video */

.video{
  background-color: #fff ;
  max-width: 1140px;
  width: 100%;
  height: 580px;
  padding-top: 60px;
  display: grid;
  grid-template-columns:repeat(2, 1fr);
  margin: auto;
  gap: 100px;
}

.about-us-content{
  max-width: 485px;
  width: 100%;
  height: 298px;
  margin: 0 auto;
  font-family: "Roboto-Regular",sans-serif;

} 
.about-us-video{
  max-width: 555px;
  width: 100%;
  max-height: 420px;
  height: 100%;
}

.about-us-head{
  margin-top: 30px;
  font-size: 40px;
  font-weight: 500;
  font-family: "Roboto-Medium", sans-serif;
}
.about-us-text{
  margin-top: 40px;
  font-size: 18px;
  font-weight: 400;
  color: #222222;
  line-height: 26.1px;

}
.about-us-text2{
margin-top: 35px;
line-height: 26.1px;
}

/*info*/

/* исправлены стили */

.info{
  width: 100%;
  background-color: #F4F4F4; 
  height: 230px;
}

.container1{
display: grid;
grid-template-columns: repeat(3, 1fr);
gap: 80px;
margin: 0 auto;
max-width: 1140px;
width: 100%;
}


.text1, .text2, .text3{
margin: 60px auto;
display:table-cell;
align-items: center;
text-align: center;
font-family:'Roboto-Regular',sans-serif;
font-size: 18px;
font-weight: 400;

}

/* purchase */
.pokupki{
  max-width: 1440px;
  height: 618px;
  margin: auto;
  justify-content: center;

}
.kartochka{
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap:30px;
  
}
.conta{
  margin: auto;
  max-width: 1140px;
}
.kartochka div:nth-child(1) {
  grid-column: 1 / span 3;
}
.kartochka div:nth-child(2) {
  grid-column: 4 / span 3;
}
.kartochka div:nth-child(3) {
  grid-column: 7 / span 3;
}
.kartochka div:nth-child(4) {
  grid-column: 10 / span 3;
}
.conta-text{ 
  margin-top: 80px;
  margin-bottom: 30px;
  font-family: Roboto-Medium;
  font-size: 40px;
}
.discript{
  font-family: Roboto-Regular;
  font-size: 18px;
  margin-top: 15px;
  margin-bottom: 12px;
}
.price{
  font-family: Roboto-Medium;
  font-size: 22px;
}
.zac{
  font-family: Roboto-Regular;
  font-size: 14px;
  text-decoration: line-through;
  margin-left: 15px;
}


/* form */

.subscribe {
  width: 100%;
  height: 247px;
  background-color: #c41429;
}

.subscribe-form {
  max-width: 1140px;
  margin: 0 auto;
}

.subscribe-form-header {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}

.subscribe-form-header-title {
  display: flex;
  align-items: center;
  max-width: 207px;
  height: 39px;
  margin: 46px auto 0;
  font-family: "Roboto-Medium", sans-serif;
  font-weight: 500;
  font-size: 36px;
  color: #ffffff;
}

.subscribe-form-header-subtitle {
  display: flex;
  align-items: center;
  max-width: 384px;
  height: 18px;
  margin: 0 auto;
  font-family: "Roboto-Regular", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #ffffffcc;
}

.subscribe-form-body {
  display: flex;
  justify-content: center;
  flex-direction: row;
  column-gap: 35px;
  margin: 42px auto 0;
}

.subscribe-form-input {
  width: 292px;
  height: 45px;
  font-family: "Roboto-Regular", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #999999;
  border: 1px solid #c4c4c4;
}

.subscribe-form-button {
  width: 220px;
  height: 45px;
  font-family: "Roboto-Regular", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #ffffff;
  background-color: transparent;
  border: 1px solid #ffffff;
}

.subscribe-form-button:hover {
  background-color: #999999;
  cursor: pointer;
}

/* faq */

.faq{
  max-width: 1140px;
  min-width: 270px;
  max-height:1200px;
  min-height: 580px;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 80px;

}

.head-faq{
  font-family: "Roboto-Medium", sans-serif;
  line-height: 46.88px;
  font-weight: 500;
  font-size: 42px;
  color: #000000;

}
.accordion {
  font-family: "Roboto-Medium", sans-serif;
  font-size: 18px;
  font-weight: 500;
  background-color: #ffffff;
  color: #222222;
  cursor: pointer;
  width: 100%;
  text-align: left;
  outline: none;
  transition: 0.4s;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  border: none;
}

.radio{
  display: none !important;
}

.accordion:after {
  content:url(../images/toggle1.svg); 
  font-size: 13px;
  float: right;
  margin-left: 10px;
}

.active:after {
  content: url(../images/toggle2.svg); 
}

.divider{
  background-color:#D5D5D5;
  color: #D5D5D5;
  height: 0.5px;
}
.active, .accordion:hover {
  color: #C41429;  

}

.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
}


.acc-text{
  max-width: 1043px;
  width: 100%;
  font-family: "Roboto-Regular";
  font-size: 16px;
  font-weight: 400;
  padding: 30px 0 30px 0;
  line-height: 24px;
}

/* instagram */

.instagram{
  max-width: 100%;
  height: 244px;
}

.instagram-container{
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

.instagram-header-title{
  width: 289px;
  height: 49px;
  font-family: "Roboto-Medium", sans-serif;
  font-weight: 500;
  font-size: 42px;
  color: #000000;
}

.instagram-body-container{
  display: flex;
  flex-direction: row;
  column-gap: 30px;
}

/* MAP */

.map{
  max-width: 1140px;
  min-width: 270px;
  height: 626px;
  min-height: auto;
  background-color: #fff;
  margin: auto;
}
.map-head{
   font-family: "Roboto-Medium", sans-serif;
   display: flex;
   height: 169px;
   max-width: 1140px;

   font-size: 40px;
   font-weight: 500;
   vertical-align: bottom;
   align-items: flex-end;
}
.gmap{
  max-width: 1140px;
  min-width: 100%;
  height: 457px; 
  min-height: auto;
  margin-top: 20px;
  border: 0;
  filter:grayscale(1);
}
.map-head-city{
  color: #C41429 !important;
  font-family: "Roboto-Regular", sans-serif;;
  font-weight: 400;
}

/* footer */

footer{
  height: 160px;
}
.First-footer{
height: 102px;
max-width: 1440px;
margin: auto;
border-bottom: solid 1px #EFEFEF;
border-width: 100%;
}

.First-footer-container{
  max-width: 1140px;
  height: 102px;
  display: grid;
  margin: auto;
  grid-template-columns: repeat(12, 1fr);
  gap: 30px;
  justify-content: center;
}

.logo__pic{
padding-left: 100px;
}  

.nav{
  display: flex;
  flex-grow: 3;
  justify-content: left;
  align-items: center;
  
}
.First-footer-container div:nth-child(1) {
  grid-column: 1 / span 2;
}
.First-footer-container div:nth-child(2){
  grid-column: 3 / span 6;
}
.First-footer-container div:nth-child(3){
  grid-column: 11 / span 2;
}

.nav-links{
  display: flex
}
ul{
  column-gap: 35px ;
  padding: 0;
}
li{
  list-style-type: none;
  font-family: Roboto-Regular;
  font-size: 15px;
  
}
li:hover{
  text-decoration: underline;
  color: #C41429;
  cursor: pointer;
}

.fa-fa{
  display: flex;
  max-width: 160px;
  column-gap: 20px;
  
}
.fafablk{
  display: flex;
 
  align-items: center;
}
.inst svg:hover path, .vk svg:hover path, .fb svg:hover path{
  fill-opacity:0.5;
  stroke-opacity:0.5;
}
.inst:hover, .vk:hover, .fb:hover{
  cursor: pointer;
}
.Second-footer-text{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 57.15px;
  color: #999999;
  font-size: 12px;
}

/* responsive style */

@media screen and (min-width: 270px) and (max-width: 480px) {
 /* header */

 header{
  height: 100px;
 }
.First-header-container{
  padding: 10px 10px;
  display: block;
 }

 /* swiper */
.main{
  display:block ;
  height: auto;
  margin: auto;
  padding: 10px 10px;
}
.text{
  margin: auto;
  text-align: start;
}

.swiper-pagination{
  top: 500px !important;
  left: 0% !important;
  width: 100% !important;
}
.text-button{
  width: 120px;
  height: 30px;
  font-size: 15px;
}

.container{
  height: auto;
}


 /* photos */
.catalog{
  height: auto;
}

.catalog-list{
  display: flex;
  flex-direction: column;
}

.catalog-list-item{
  margin: auto;
}

.catalog-list-item:last-child{
  display: none;
}


 /* video */
.video{
  display: block;
  height: 950px;
  margin: auto;
  padding: 10px 10px;
}
.about-us-head{
  font-size: 30px;
}
.about-us-text{
width: 100%;
}

/* info */
.info{
  height: 370px;
  padding: 10px 10px;

}
.container1{
  display: block;
}
.text1, .text2, .text3{
  display: block;
  margin: 15px 15px;
}


/* purchase */
.conta-text{
  /* display: flex; */
  /* justify-content: center; */
  font-size: 30px;
  padding-left: 10px;
}
.kartochka{
  display: block;
}
.pokupki{
  height: auto;
}
.kartochka img{
  margin: auto;
}
.kartochka p{
  display: flex;
  justify-content: center;
}
.price{
  margin-bottom: 12px;
}
/* form */
.subscribe-form-body{
  column-gap: 15px;
}

.subscribe-form-input{
  width: 215px;
}

.subscribe-form-button{
  width: 145px;
}

/* faq */
.faq{
  padding: 10px 10px;
  max-height: 2000px;
}
.head-faq{
  font-size: 30px;
}

/* instagram */
.instagram{
  height: auto;
}

.instagram-header{
  margin: auto;
}

.instagram-body-container{
  flex-direction: column;
  row-gap: 15px;
}

.instagram-body-container img{
  width: 215px;
  aspect-ratio: 1;
  margin: auto;
}


  /* map */
.map{
  display: block;
  padding: 10px 10px;
}
.map-head{
height: 80px;
font-size: 30px;
margin-left: 0px;
}

/* footer */
.First-footer{
  padding: 10px 10px;
}
.First-footer-container{
  display: block;
}
.logo{
  display: none;
}
li{
  font-size: xx-small;
}
.nav{
  justify-content: center;
  
}

.fafablk{ 
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 40px;
  
}
.fa-fa{
  max-height: 40px;
  
}
.Second-footer{
  justify-content: center;
  display: flex;
  padding: 10px 10px;
}
.Second-footer-text{
  max-width: 480px;
  text-align: center;
}
}


