html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

p,h1,h2,h3,h4,h5,h6 {
  margin: 0;
}

a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
  object-fit: cover;
}

body {
  min-width: 320px;
  word-break: normal;
  font-family: 'Roboto', sans-serif;
}

/* global------------------------------------------------------------ */

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
  opacity: 0;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  height: 535px;
  display: flex;
}

.display {
  display: none;
  color: #fff;
}

/* var.--------------------------------------------------------------- */

:root {  /* colors */
  --color-white: red;
}

:root {  /* colors */
  --font-size-18px: 18px;
}

.section  {
  color: var(--color-white);
  font-size: var(--font-size-18px);
}

/* MAIN */

/* h2{
  font-family: "Roboto-Medium";
} */

/* MAP */

.map{
  width: 1140px;
  height: 626px;
  background-color: #fff;
  margin: auto;
}
.map-head{
   margin-left: 80px !important;
   display: flex;
   justify-content:start;
   height: 47px;
   margin-top: 60px;
   margin-left: 150px;
   font-size: 40px;
   font-weight: 500;
}
.gmap{
  width: 1140px;
  height: 457px;
  margin-top: 20px;
  border: 0;
  filter:grayscale(1);
}
.map-head-city{
  color: #C41429 !important;
  font-family: "Roboto-Regular";
  font-weight: 400;
}
.divider-red{
  height: 2px;
  color: #C41429;
  background-color: #C41429;
  margin-left: 415px;
  width: 365px;
}

/* instagram */
.instagram{
  max-width: 100%;
  height: 244px;
}

.instagram-container{
  width: 1140px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

.instagram-header{
  padding-left: 5px;
}

.instagram-header-title{
  width: 289px;
  height: 49px;
  font-family: "Roboto-Medium", sans-serif;
  font-weight: 500;
  font-size: 42px;
  color: #000000;
}

.instagram-body-container{
  display: flex;
  flex-direction: row;
  column-gap: 30px;
}

/* form */
.subscribe {
  width: 100%;
  height: 247px;
  background-color: #c41429;
}

.subscribe-form {
  max-width: 1140px;
  margin: 0 auto;
}

.subscribe-form-header {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}

.subscribe-form-header-title {
  display: flex;
  align-items: center;
  max-width: 207px;
  height: 39px;
  margin: 46px auto 0;
  font-family: "Roboto-Medium", sans-serif;
  font-weight: 500;
  font-size: 36px;
  color: #ffffff;
}

.subscribe-form-header-subtitle {
  display: flex;
  align-items: center;
  max-width: 384px;
  height: 18px;
  margin: 0 auto;
  font-family: "Roboto-Regular", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #ffffffcc;
}

.subscribe-form-body {
  display: flex;
  justify-content: center;
  flex-direction: row;
  column-gap: 35px;
  margin: 42px auto 0;
}

.subscribe-form-input {
  width: 292px;
  height: 45px;
  font-family: "Roboto-Regular", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #999999;
  border: 1px solid #c4c4c4;
}

.subscribe-form-button {
  width: 220px;
  height: 45px;
  font-family: "Roboto-Regular", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #ffffff;
  background-color: transparent;
  border: 1px solid #ffffff;
}

.subscribe-form-button:hover {
  background-color: #999999;
  cursor: pointer;
}
/* swiper */
.main{
  max-width: 1140px;
  margin:auto;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap:30px;
  
}

.main div:nth-child(1) {
  grid-column: 1 / span 4;
}

.main div:nth-child(2) {
  grid-column: 7 / span 6;
}

.text{
  height: 173px;
  margin-top: 120px;
}

.text h2{
  font-family: Roboto-Bold;
  font-size: 48px;
  color: #222222;
}

.text p{
  font-family: Roboto-Regular !important;
  font-size: 20px !important;
}

.text-button{
  font-family: Roboto-Regular;
  font-size: 18px;
  width: 220px;
  height: 48px;
  background-color: white;
  border: solid 1px black;
  margin-top: 36px;
}

.swiper-pagination{
  
  width: 76px !important;
  height: 20px !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  top:455px !important;
  left:20%!important;
  column-gap: 18px;
  
}

.swiper-container{
 position: relative !important;
 width: 100% !important;
 height: 535px !important;
 display: flex !important;
}

.swiper-pagination-bullet-active {
 background: #C41429  !important;
 width: 20px !important;
 height: 20px !important;
}

.swiper-pagination-bullet{
  border-radius: 0px !important;
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
 margin: 0 var(--swiper-pagination-bullet-horizontal-gap, ); 
}


